.productsCard {
    position: relative;
}
.cardInfo{
    font-size: 18px;
    padding: 10px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardTitle {
    color: #007dbc;
}

.cardPrice {
    color: black;
}
.saveButton {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}