.drawerBlock {
    width: 300px;
    font-family: "Poppins", sans-serif;
    img {
        width: 100%;
        height: auto;
    }
}
.menuPoint {
    margin: 5px 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}