.footer {
  border-top: 1px solid gray;
  height: 159px;
  margin-top: 50px; // old value 250px
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fLeftSide {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}
.fLeftSide div {
  width: 100%;
  display: flex;
  margin: auto 0px;
  justify-content: space-between;
}
.fRightSide {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 830px) {
    .fLeftSide {
        .topText {
          display: none;
        }
      }
}
