header {
  height: 42px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.leftSide {
  display: flex;
  align-items: center;
  flex-grow: 1;
  img {
    width: 100px;
  }
}
.rightSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  width: 350px;
}
.iconsList {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 830px) {
  .iconsList {
    width: 200px;
  }
}
